<div class="row">
    <div class="col-xs-12">
      <a class="btn btn-success" [routerLink]="['/new-movie']" >Add Movie</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <ul class="list-group">
            <movie-item *ngFor="let movie of movies; let i=index " [movie]="movie" [movieId]="movie.id"  ></movie-item>
        </ul>
    </div>
</div>

<div class="row pull-left">
    <div class="col-xs-12">
        <a class="btn btn-success" [routerLink]="['/new-movie']" >Add Movie</a>
    </div>
 </div>