<h1>hello from the movie-display</h1>
<div>
    <img src="{{movie?.posterUrl}}" alt="" class="img-responsive">
</div>

<div class="pull-left">
        <div class="text">
            <h3 class="list-group-item-heading">{{movie.title}}</h3>
        </div>

        <div class="text">
            <p class="list-group-item-text">{{movie.description}}</p>
        </div>

        <div class="text">
            <h4>Actors:</h4>
            <ul *ngFor="let actor of movie.actors; let i=index " class="list-group-item-text">{{actor}}</ul>                
        </div>
</div>